[Unit]
Description=S3FS mounts
Wants=network-online.target
After=network-online.target

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/local/bin/s3fs mm-data /opt/mattermost/data -o passwd_file=/opt/mattermost/.passwd-s3fs,url=http://84.201.166.183:9000,use_path_request_style
ExecStop=/usr/local/bin/s3fs umount /opt/mattermost/data

[Install]
WantedBy=default.target